* {
  margin: 0;
  padding: 0;

  box-sizing: 0;
  font-family: "Poppins", sans-serif;
}
#navbar {
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  justify-content: space-around;
}
#nav-logo {
  display: flex;
}
#logo {
  border-radius: 50%;
  height: 50px;
  align-self: center;
}
#logo-label {
  font-size: 24px;
  padding: 5px;
  align-self: center;
}

ul li {
  display: inline-flex;
  list-style-type: none;
  padding: 10px;
}

ul li a {
  color: #f9faf8;
  text-decoration: none;
}

#banner {
  background-color: #1f2937;
  color: #f9faf8;
}
#banner h1 {
  font-weight: bolder;
  font-size: 48px;
}
